.DS_Store
.kitchen/
.kitchen.local.yml
.bundle
.vagrant
berks-cookbooks/
Berksfile.lock
clients/
cookbooks/
Gemfile.lock
nodes/
vms/
.chef/nodienode.pem
.chef/validator.pem
.chef/local-mode-cache/
.project
.chef/*.pem
.chef/encrypted_data_bag_secret
.chef/keys
.chef/syntaxcache
.chef/nodes
data_bags/secrets/*.json
nodes/*.json
