[submodule "jupyterhub"]
	path = jupyterhub
	url = https://github.com/TubmanProject/jupyterhub.git
[submodule "api"]
	path = api
	url = https://github.com/TubmanProject/data_scraper.git
[submodule "rabbitmq-healthcheck"]
	path = rabbitmq-healthcheck
	url = git@github.com:tyronemsaunders/mintyross-rabbitmq.git
[submodule "redis-healthcheck"]
	path = redis-healthcheck
	url = git@github.com:tyronemsaunders/mintyross-redis.git
